/********************************/
/*BASIC SETUP*/
/********************************/
*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html,body
{
    font-size:20px;
    background-color:#fff;
    color:#555;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    text-rendering: optimizeLegibility;
    overflow-x:hidden;
}
.clearfix{zoom:1}
.clearfix:after
{
    content:'';
    clear:both;
    display:block;
    height:0;
    visibility:hidden;
}

/**********************************/
/*REUSABLE COMPONENTS*/
/**********************************/
.row
{
   max-width:100vw;
    margin: 0 2rem;
}
section
{
    padding:4rem 0;
}


/*************************************/
/*HEADING*/
/*************************************/

h1
{
    color:#fff;
    text-transform: uppercase;
    font-size:2.3rem;
    letter-spacing: 3px;
    font-weight:300;
  
}
h2
{
    text-transform:uppercase;
    font-size:1.8rem;
    font-weight:300;
    text-align: center;
    margin-bottom: 1.5rem;
    
}
h2:after
{
    content:'';
    width:100px;
    display:block;
    height:2px;
    background-color:#e67e22;
    margin:0 auto;
    margin-top: 1.5rem;
}
h3
{
    text-transform: uppercase;
    font-weight:300;
    font-size:1.1rem;
    margin-bottom:1rem;
    text-align: center;
}
/*********************************/
/*BUTTON*/
/*********************************/

.btn:link,
.btn:visited,
input[type=submit]
{
    text-decoration:none;
    display:inline-block;
    border:1px solid #e67e22;
    padding:.5rem 1.5rem;
    border-radius:200px;
    -webkit-transition: background-color .2s, border .2s, color .2s, -webkit-transform .2s;
    transition: background-color .2s, border .2s, color .2s, -webkit-transform .2s;
    transition: transform .2s, background-color .2s, border .2s, color .2s;
    transition: transform .2s, background-color .2s, border .2s, color .2s, -webkit-transform .2s;
    margin-top:1rem;
    font:inherit;
    cursor: pointer;
}

.btn-full:link,
.btn-full:visited,
input[type=submit]

{
    color:#fff;
    background-color:#e67e22;
    
}
.btn-ghost:link,
.btn-ghost:visited
{
    color:#e67e22;
    margin-left:1rem;
   
}
.btn-white:link,
.btn-white:visited
{
    background-color: #fff;
    border:1px solid #e67e22;
    color:#e67e22;
     padding:.5rem 1rem;
}
.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active
{
    background-color:#cf6d17;
    -webkit-transform:translateY(-2px);
    transform:translateY(-2px);
    
}
.btn:active,
input[type=submit]:active
{
    -webkit-transform:translateY(0px);
    transform:translateY(0px);
}
.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active
{
    border:1px solid #cf6d17;
}
.btn-ghost:hover,
.btn-ghost:active
{
    border:1px solid #cf6d17;
    color:#fff;
    
}
.btn-white:hover,
.btn-white:active
{
    background-color: #fff;
    color:#e67e22;
    
}
.btn-app img
{
    height: 50px;
    width: auto;
    margin-right: 10px;
}

/***PARAGRAPHS***/
.long-copy
{
    width:70%;
    margin-left:15%;
    line-height:145%;
    margin-bottom:2rem;
    
}
.box p
{
    font-size:.9rem;
    line-height: 150%;
    letter-spacing:.5px;
    text-align: center;
}
/************************************/
/*ICONS*/
/************************************/
.icon-big
{
    font-size:3.5rem;
    color:#e67e22;
    display:block;
    margin-bottom: 1rem;
    text-align: center;
}
.icon-small
{
    color:#e67e22;
    font-size:1.2rem;
    display:inline-block;
    margin-right: .75rem;
    text-align: center;
    vertical-align: middle;
}
/*********************************/
/*HEADER*/
/*********************************/
header
{
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.7)), to(rgba(0,0,0,0.7))), url(img/hero-min.jpg);
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(img/hero-min.jpg);
    height:100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.logo
{
    height: 100px;
    width: auto;
    float:left;
    margin-top:1rem;
}
.logo-black
{
    display:none;
    height: 50px;
    width: auto;
    float:left;
    margin:10px 0;
}
.hero-text-box
{     position:absolute;
     top:40%;
}

/* MOBILE NAVIGATION ICON*/
.mobile-nav-icon
{
    float:right;
    cursor:pointer;
    display:none;
  
}
.mobile-nav-icon i
{
    font-size:2rem;
    color:#fff;
}

/*NAVIGATION*/
.main-nav
{
    list-style: none;
    float:right;
     margin-top:2rem;
    
}
.main-nav li
{
    display:inline-block;
}
.main-nav li a:link,
.main-nav li a:visited

{  
    position:relative;
    text-decoration: none;
    display:block;
    color:#fff;
    text-transform: uppercase;
    font-size:.9rem;
    word-spacing:2px;
    padding:.75rem;
    margin:0 .5rem 0 0;
    
}
.main-nav li a:after
{
    content:'.';
    position:absolute;
    left:0;
    bottom:0;
    width:0%;
    height:1px;
    color:transparent;
    z-index:-10;
}


.main-nav li a:hover,
.main-nav li a:active{
      z-index:2;
}
.main-nav li a:hover:after
{
    -webkit-animation:fill 1s forwards;
    animation:fill 1s forwards;
}

/*STICKY NAV*/
.sticky-nav
{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    background-color:rgba(255,255,255,1);
    z-index:200;
}
.sticky-nav .main-nav li a:link,
.sticky-nav .main-nav li a:visited
{ 
    padding:.75rem;
    color:#555;
}
.sticky-nav .logo-black
{
    display:block;
}
.sticky-nav .logo
{
    display:none;
}
.sticky-nav .main-nav
{
    margin-top: .5rem;
}
.sticky-nav .mobile-nav-icon
{
    margin-top: 1rem;
}
.sticky-nav .mobile-nav-icon i
{
    color:#000;
}

/************************************/
/*SECTION MEALS*/
/************************************/

.section-meals
{
    padding:0;
}
.meals-showcase
{
    list-style: none;
    width:100%;
}
.meals-showcase li
{
    display:block;
    float:left;
    width:25%;
    position:relative;
}
.meal-figure
{
    width:100%;
    overflow:hidden;
    background-color:black;
    
}
.meal-figure img
{
    width:100%;
    height:auto;
    opacity:1;
    -webkit-transform:scale(1.15);
    transform:scale(1.15);
    -webkit-transition:opacity .5s, -webkit-transform .5s;
    transition:opacity .5s, -webkit-transform .5s;
    transition:transform .5s, opacity .5s;
    transition:transform .5s, opacity .5s, -webkit-transform .5s;
}
.meal-figure img:hover
{
    -webkit-transform:scale(1.03);
    transform:scale(1.03);
    opacity:0.5;
}
.meal-caption
{
   position:absolute;
    width:100%;
    height:40%;
    background-color:#fff;
    color:#e67e22;
    padding:1rem 0;
    top:50%;
    opacity:0;
    -webkit-transition:opacity .5s;
    transition:opacity .5s;
}
.meal-figure:hover .meal-caption
{
    opacity:1;
    -webkit-animation:fill1 .5s ease-out;
    animation:fill1 .5s ease-out;
}
/***************************************/
/*SECTION WORK*/
/***************************************/
.section-work
{
    background-color:#f4f4f4;
    
}
.iphone-app
{
    display:inline-block;
    height:40%;
    width:40%;
   
}
.works-step
{
    margin:2.5rem 0;
}
.works-step div
{
   float:left;
   font-size: 150%;
    height: 54px;
    width: 54px;
    border:2px solid #e67e22;
    border-radius:50%;
    text-align:center;
    display:inline-block;
    padding:.5rem;
    margin-right:1.25rem;
    color:#e67e22;
    font-size:1.2rem;
}
/*************************************/
/*SECTION CITIES*/
/*************************************/
.city-image
{
   width:100%;
    height:auto;
    display:inline-block;
    margin-bottom: 1.5rem;
}

.city-features
{
    margin-left: 1.5rem;
    margin-bottom: 7px;
}
.city-features p
{
    display:inline-block;
    vertical-align: middle;
}

.city-features a
{
    text-decoration: none;
    color:#e67e22;
    border-bottom:1px solid #e67e22;
}
/****************************************/
 /*SECTION CUSTOMERS*/
/****************************************/
.section-customers
{
    background-image: -webkit-gradient(linear , left top, left bottom , from(rgba(0,0,0,0.7)) , to(rgba(0,0,0,0.7))), url("img/back-customers-min.jpg");
    background-image: linear-gradient(rgba(0,0,0,0.7) , rgba(0,0,0,0.7)), url("img/back-customers-min.jpg");
    background-position: center;
    background-size: cover;
  
    color:#fff;
    background-attachment: fixed;
}
blockquote
{
    font-style: italic;
    padding:2%;
    line-height: 145%;
    position:relative;
    margin-top:2rem;
}
blockquote:before 
{
    content: "\201C";
    font-size: 5rem;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}
cite
{
    display:block;
    margin-top: 20px;
}
cite img
{
    width:20%;
    height:20%;
    border-radius:50%;
    vertical-align: middle;
    margin-right: 1rem;
}
/***********************************/
/*SECTION PLANS*/
/***********************************/
.section-plans {
    background-color: #f4f4f4;
}

.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 2px 2px #efefef;
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.plan-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-box div:last-child {
    text-align: center;
    border: 0;
}


.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 80%;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}

/**************************************/
/*SECTION FORM*/
/**************************************/

.signup-form
{
    width:60%;
   margin:0 auto;
}
input[type=text],
input[type=email],
select,
textarea
{
    width:100%;
    padding:7px;
    border-radius:3px;
    border:1px solid #ccc;
    font:inherit;
    
}
textarea
{
    height:100px;
    
}
input[type=checkbox]
{
    margin:10px 5px 10px 0;
}
*:focus
{
    outline:none;
}
.form-messages
{
    width:70%;
    margin:0 auto;
    padding:10px;
    border-radius:3px;
    margin-bottom:20px;
    color:#333;
}
.success{
    background-color:rgba(38,191,68,0.8);
}
.error{
    background-color:rgba(209,46,46,0.8);
}
/*************************************/
/*FOOTER*/
/*************************************/
footer
{
   background-color:#333; 
     padding:1.5rem 0;
   
   
}
.footer-nav
{
    float:left;
   
    
}

.social-links
{
    float:right;
     font-size:1.5rem;
}
.footer-nav li,
.social-links li
{
    display:inline-block;
    list-style: none;
    
}
.social-links li
{
    margin-left:1rem;
}
.footer-nav li
{
    margin-right:1rem;
}
.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited
{
    text-decoration: none;
     color:#888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    
}
.footer-nav li a:hover,
.footer-nav li a:active
{
    color:#fff;
}
.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {

    -webkit-transition: color 0.2s;

    transition: color 0.2s;
}
.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #517fa4;
}

/**********************************/
/*ANIMATION*/
/**********************************/

@-webkit-keyframes fill,
@keyframes fill
{
    0%
    {
        width:0%;
        height:1px;
    }
    50%
    {
         width:100%;
        height:1px;
    }
    100%
    {
         width:100%;
        height:100%;
        background-color:#e67e22;
    }
}
@keyframes fill
{
    0%
    {
        width:0%;
        height:1px;
    }
    50%
    {
         width:100%;
        height:1px;
    }
    100%
    {
         width:100%;
        height:100%;
        background-color:#e67e22;
    }
}
@-webkit-keyframes fill1
{
    0%
    {
        width:0%;
        height:1px;
    }
    50%
    {
         width:100%;
        height:40%;
    }
    100%
    {
         width:100%;
        height:40%;
    }
}
@keyframes fill1
{
    0%
    {
        width:0%;
        height:1px;
    }
    50%
    {
         width:100%;
        height:40%;
    }
    100%
    {
         width:100%;
        height:40%;
    }
}
.js--wp-1,
.js--wp-2,
.js--wp-3
{
    opacity:0;
}
.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated
{
    opacity:1;
}
